footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    } 


.tagcolor{
    background-color: #54B097;
    border-radius: 23px;
    }

.center{
    margin: auto;
    margin-top: 80px;
    width: 40%;
    background-color: #b4d1c9;
    border-radius: 20px;
    padding: 30px;
}




.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }